@mixin links {
  width: 260px;
  margin-bottom: 185px;
  padding: 12px 38.5px;
  background-color: $main-color-light-red;
  border: none;
  font-family: $main-fonts-roboto;
  font-size: 18px;
  color: white;
}