.inrto{
  background-image: url(../images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 500px );
}

.intro__container{
  display: flex;
}

.intro-inner{
  max-width: 450px;
}

.intro-inner__title{
  paDding-top: 150px;
  font-family: $main-fonts-roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: $main-title-color;
  
}

.intro-inner__text{
  margin-top: 30px;
  margin-bottom: 42px;
  padding-left: 40px;
  font-family: $main-fonts-roboto;
  border-left: 1px solid $main-color-black;
  color: $main-text-color;
}

.intro-inner__btn{
  width: 260px;
  margin-bottom: 185px;
  padding: 12px 38.5px;
  background-color: $main-color-light-red;
  border: none;
  font-family: $main-fonts-roboto;
  font-size: 18px;
  color: white;
  transition: 0.8s;

  &:hover{
    background-color: #d8433b;
  }
}
